body {
    background-color: beige;
    font-family: "Jetbrain", "NotoColor", serif;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    display: grid;
    margin-bottom: 50px;
    position: relative
}

button {
    background-color: transparent
}

@font-face {
    font-family: "Jetbrain";
    src: url(file/JetBrainsMono-Regular.woff2)
}


a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none
}

section {
    display: none
}

section:target {
    display: block
}

.avatar_img, .onNight {
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.onNight {
    background-color: #2b2d30
}

.avatar_img {
    border: 4px solid transparent;
    border-radius: 100%;
    padding: 2px
}

.avatar_img:hover, .menu_button:hover {
    border: 4px solid #1e90ff;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .65)
}

.menu_button:hover {
    border: 2px solid #000
}

.onNight .avatar_img:hover, .onNight .menu_button:hover {
    border: 4px solid orange;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .7)
}

.onNight .menu_button:hover {
    border: 2px solid #fff
}

.menu_button {
    border: 2px solid transparent;
    color: #000;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Jetbrain, serif;
    border-radius: 36px;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    font-weight: 700
}

.onNight .menu_button {
    color: #fff
}

.menu_button .icon_svg, .onNight .mainPage {
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.menu_button .icon_svg {
    stroke: #000
}

.onNight .alignCenter_logo .icon_svg, .onNight .menu_button .icon_svg {
    stroke: #fff;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.onNight .mainPage {
    color: #fff
}

.right {
    display: flex;
    justify-content: space-evenly
}

.alignCenter_logo .icon_svg {
    stroke: #000
}

.copyright_text {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%
}

.onNight .copyright_text {
    color: #fff
}

.alignCenter_logo, .alignCenter_logo .icon_svg {
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.alignCenter_logo {
    float: right;
    border: 1px solid transparent;
    border-radius: 3px
}

.alignCenter_logo:hover, .intro {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .5), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.intro {
    text-align: left;
    width: 80%;
    padding: 30px;
    margin: 10px auto 0;
    border: 2px solid #000;
    border-radius: 20px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.alignCenter_logo:hover, .onNight .alignCenter_logo:hover {
    border: 1px solid transparent
}

.onNight .intro {
    color: #fff;
    border: 2px solid #fff
}

#button, .footer {
    position: fixed;
    text-align: center
}

.footer {
    right: 0;
    border-top: 2px solid rgba(0, 0, 0, .5);
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: #000
}

#button, .footer, .onNight .footer {
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.onNight .footer {
    box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, .5), 0 -17px 50px 0 rgba(0, 0, 0, .19);
    border-top: 2px solid rgba(255, 255, 255, .5);
    color: #fff;
    background-color: #2b2d30
}

#button {
    display: inline-block;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 20px;
    transition: background-color .3s, opacity .3s, visibility .3s;
    opacity: 0;
    visibility: visible;
    z-index: 1000;
    padding: 6px 0;
    border-radius: 36px
}

#button.show {
    opacity: 1;
    visibility: visible
}

.fofBody
{
    margin-top: 70px;
}