body {
    background-color: #272727;
    text-align: center;
}

@font-face {
    font-family: "Jetbrain";
    src: url(JetBrainsMono-Regular.woff2)
}

* {
    font-family: "Jetbrain", serif;
}

html,body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    transition: .2s;
}

.content {
    min-width: 30vw;
    max-width: 50vw;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 1em;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .25);
    padding: 15px;
    border: 3px solid transparent;
    transition: .2s;
}

.button {
    background-color: #3c3c3c;
    text-align: right;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    border: 2px solid transparent;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 200px;
    -webkit-transition: max-width 0.5s;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
}

.button.copy, .button:hover.copy {
    background-color: #3bb100;
}

.button:hover {
    background-color: #1e90ff;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.avatar_img {
    border: 4px solid transparent;
    border-radius: 100%;
    padding: 2px;
    transition-duration: .2s
}

.avatar_img:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .65);
    border: 4px solid #1e90ff;
    transform: scale(1.02);
}

.image_hobbies {
    border-radius: .5em;
    border:2px solid coral;
    max-width: 25vw
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Responsive Design Configs */
@media (max-width: 800px) {
    .content {
        max-width: 75vw;
    }
    .image_hobbies {
        max-width: 65vw;
    }
}

/* Dark Mode Configs */
.dark-mode .content {
    background-color: rgba(0, 0, 0, .7);
    color: #999999;
    border: 3px solid orangered;
}

.dark-mode .container {
    background-color: rgba(0, 0, 0, .8);
}

.dark-mode .icon-tabler-sun {
    display: none;
    transition-duration: .5s;
}

.dark-mode .icon-tabler-moon {
    display: block;
    transition-duration: .5s;
}

.icon-tabler-sun {
    display: block;
    transition-duration: .5s;
}

 .icon-tabler-moon {
    display: none;
    transition-duration: .5s;
}
