body {
    background-color: #272727;
    text-align: center;
}

.container {
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90vw;
    background-color: yellow;
}

