@font-face {
    font-family: "Jetbrain";
    src: url(JetBrainsMono-Regular.woff2)
}

* {
    font-family: "Jetbrain", serif;
}

body {
    background-color: #272727;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.box {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin ;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.button {
    background-color: #3c3c3c;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 47px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button:hover {
    max-width: 200px;
}

.icon {
    font-size: 16px;
    margin-right: 15px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.text {
    white-space: nowrap;
    padding-right: 15px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.avatar_img {
    border: 4px solid transparent;
    border-radius: 100%;
    padding: 2px;
    transition-duration: .2s
}

.avatar_img:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .65);
    border: 4px solid #1e90ff;
    transform: scale(1.02);
}

.self_intro {
    display: none;
}

.contact {
    display: none;
}

.project {
    display: none;
}

.hobby {
    display: none;
}

@media (max-width: 800px) {
    .box {
        position: fixed;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        box-sizing: border-box;
        padding: 3vmin  ;
        text-align: center;
        top: 0;
        transform: none;
    }
}

.projectBox {
    background-color: rgba(255, 255, 255, .4);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    padding: 10px;
    box-sizing: content-box;
    text-align: center;
}
